<% content_for :title, 'Game Friends App - Samuel Ford' %>

<h2>
  Game Friends
  <%= link_to(image_tag('http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif', class: 'img-responsive pull-right'), 'http://itunes.apple.com/us/app/game-friends/id507873973?ls=1&mt=8') %>
</h2>
  
<p>
  Stay on top of your social gaming and keep up with all of your gaming friends using Game Friends.
</p>

<p>
  Game Friends is checklist with notes and color coding where each item has a set of badges that can be 
  whatever you like; a checkmark, a smilie, a rocket ship or dozens of other things.
</p>

<p>
  Create as many lists as you like; one for each game, one for each circle of friends, or one for each 
  quest or level in a game. Copy the names in an existing list when starting a new one or import any 
  number of names by pasting them in.
</p>

<%= image_tag 'gamefriends-iphone-1-1.png', class: 'img-responsive center-block' %>
