<% content_for :head do %>
  <meta name="apple-itunes-app" content="app-id=547436543">
<% end %>

<p>
Goofy test of app banner for MDX.
</p>
<p>
<a href="https://itunes.apple.com/us/app/my-disney-experience/id547436543?mt=8" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=2012-08-02&kind=iossoftware&bubble=ios_apps) no-repeat;width:135px;height:40px;"></a>
</p>