<% content_for :title, 'Snipposé App - Samuel Ford' %>

<h2>
  Snipposé
  <%= link_to(image_tag('mas.png', class: 'img-responsive pull-right'), 'https://itunes.apple.com/us/app/snippose/id1140313689?ls=1&mt=12') %>
</h2>
  
<p>
A simple macOS tool for briefly hightlighting a small portion of a screen, zooming and centering it on the screen until dismissed. Great for presentations or just quickly checking the pixels on a design.
</p>

<p>
Inspired by a similar tool shown on a WWDC 2016 video.
</p>

<%= image_tag 'snippose-demo.gif', class: 'img-responsive center-block' %>
