<% content_for :title, 'Snipposé App - Samuel Ford' %>

<h2>
  Snipposé
  <%= link_to(image_tag('http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif', class: 'img-responsive pull-right'), 'http://itunes.apple.com/us/app/game-friends/id507873973?ls=1&mt=8') %>
</h2>
  
<p>
  Copy here.
</p>

<%= image_tag 'gamefriends-iphone-1-1.png', class: 'img-responsive center-block' %>
