<% content_for :title, 'The Fox and The Grapes App - Samuel Ford' %>

<h2>
  The Fox &amp; The Grapes
  <%= link_to(image_tag('http://ax.phobos.apple.com.edgesuite.net/images/web/linkmaker/badge_appstore-lrg.gif', class: 'img-responsive pull-right'), 'http://itunes.apple.com/us/app/the-fox-the-grapes/id383023583?mt=8&amp;uo=4') %>
</h2>

<p>
  Share Aesop's timeless tale <em>The Fox &amp; The Grapes</em> with your children and help them practice reading at the same time.
</p>

<%= image_tag 'phone-shot-75p-1.png', class: 'img-responsive center-block' %>

<p>
  Each page of this tale is illustrated with original, hand painted artwork and voice over narration.

<ul>
  <li>Have the story read to you highlighting each word as it is clearly spoken.</li>
  <li>Or choose to read the story yourself and touch each word to hear it spoken aloud.</li>
</ul>
</p>

<p>
  Aesop’s classic tale is a great teaching moment with a cute fox as the main character your children will love.
</p>

<%= image_tag 'ipad-screenshot-1.png', class: 'img-responsive center-block' %>
