<div class="post">
  <div class="post-header">
    <h2><%= post.title %></h2>
    <div class="post-date"><%= link_to post.posted_at.strftime('%B %e, %Y'), post_path(post.slug_or_id) %></div>
  </div>
  <div class="post-body">
    <%= markdown post.body %>
  </div>
</div>
